{% extends 'base.html' %}

{% block title %} Список авторов {% endblock %}

{% block content %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Год рождения</th>
        </tr>
            {% for author in authors %}
        <tr>
            <td>{{ author.id }}</td>
            <td>{{ author.name.upper }}</td>
            <td>{{ author.sur_name }}</td>
            <td>{{ author.year }}</td>
        </tr>
            {% endfor %}
    </table>
{% endblock %}